__pycache__/
*.pyc
.venv/
*.onnx
*.trt
*.log
.cache/
venv/
.env/
.DS_Store
.ipynb_checkpoints/
# Add additional ignores for Python, packaging, and OS-specific files
*.py[cod]
*.egg-info/
*.egg
build/
dist/
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.python-version
.vscode/
Thumbs.db
